# Dependencies
node_modules
dist
build
.next
out

# Coverage
coverage

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Cache
.cache
.vite
.turbo

# System
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
